<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

  <!-- Include xacro file with macros -->
  <xacro:include filename="macros.xacro"/>

  <!-- Define the base joint and link -->
  <xacro:base_joint_link/>

  <!-- Define the shoulder joint and link -->
  <xacro:joint_link name="shoulder_pan" parent="base_link" child="shoulder_link" joint_origin="0 7 7" axis="0 0 1" lower="${-pi/2}" upper="${pi/2}" velocity="100" effort="100" link_dims="4.2 4.1 2.2" mass="50" link_origin="0 0 0" color="black"/>

  <xacro:joint_link name="shoulder_lift" parent="shoulder_link" child="humerus_link" joint_origin="0 1.05 1.1" axis="-1 0 0" lower="${-pi/2}" upper="${pi/2}" velocity="100" effort="100" link_dims="5.5 3 13" mass="200" link_origin="0 1.5 7" color="blue"/>

  <xacro:joint_link name="elbow" parent="humerus_link" child="forearm_link" joint_origin="0 1.5 13" axis="1 0 0" lower="${-pi/2}" upper="${pi/2}" velocity="100" effort="100" link_dims="5.5 3 11" mass="200" link_origin="0 0 5.5" color="blue"/>

  <xacro:joint_link name="wrist_flex" parent="forearm_link" child="wrist_link" joint_origin="0 0 11" axis="1 0 0" lower="${-pi/2}" upper="${pi/2}" velocity="100" effort="100" link_dims="5.5 5 7.5" mass="200" link_origin="0 1.5 3.25" color="blue"/>

  <xacro:joint_link name="wrist_roll" parent="wrist_link" child="hand_link" joint_origin="0 0 7.5" axis="0 0 1" lower="${-pi/2}" upper="${pi/2}" velocity="100" effort="100" link_dims="5.5 5 4" mass="200" link_origin="0 -1.5 2" color="blue"/>

  <!-- Define the grip joints and links -->
  <xacro:grip_joint_link side="left"/>
  <xacro:grip_joint_link side="right"/>

  <!-- Define the tendon joints and links -->
  <xacro:tendon_joint_link side="left"/>
  <xacro:tendon_joint_link side="right"/>

  <!-- Define the finger joints and links -->
  <xacro:finger_joint_link side="left"/>
  <xacro:finger_joint_link side="right"/>

</robot>
